PYTHON_COMMAND_INVOKER=python3
DB_FLAVOR=DERBY
db_root_user=sa
db_root_password=
db_host=localhost
db_name=ranger
db_user=ranger
db_password=ranger123
RANGER_ADMIN_LOG_DIR={{ log_dir }}/ranger
RANGER_PID_DIR_PATH={{ pid_dir }}
audit_store=solr
RANGER_ADMIN_HTTP_PORT={{ ranger_admin_port }}
rangerAdmin_password={{ ranger_admin_password }}
rangerTagsync_password=TagSync@2024!
rangerUsersync_password=UserSync@2024!
keyadmin_password=KeyAdmin@2024!
hadoop_conf={{ install_dir }}/hadoop/etc/hadoop
CUSTOM_USER={{ hadoop_user }}
CUSTOM_GROUP={{ hadoop_group }}
