[Unit]
Description=Apache Hive Metastore
After=network.target
[Service]
User={{ hadoop_user }}
ExecStart={{ install_dir }}/hive/bin/hive --service metastore
Restart=on-failure
RestartSec=15
StandardOutput=journal
[Install]
WantedBy=multi-user.target
