version: '3.8'

services:
  hadoop-namenode:
    image: bitnami/hadoop:3.3
    container_name: hadoop-namenode
    hostname: hadoop-namenode
    environment:
      - HADOOP_HDFS_NAMENODE=yes
      - HADOOP_HDFS_DATANODE=no
      - HADOOP_YARN_RESOURCEMANAGER=no
      - HADOOP_YARN_NODEMANAGER=no
      - HADOOP_ALLOW_NONE_AUTH=true
      - HADOOP_DFS_REPLICATION=3
    ports:
      - "9870:9870"  # HDFS NameNode UI
      - "9000:9000"  # HDFS service
    networks:
      - hadoop

  hadoop-resourcemanager:
    image: bitnami/hadoop:3.3
    container_name: hadoop-resourcemanager
    hostname: hadoop-resourcemanager
    environment:
      - HADOOP_HDFS_NAMENODE=no
      - HADOOP_HDFS_DATANODE=no
      - HADOOP_YARN_RESOURCEMANAGER=yes
      - HADOOP_YARN_NODEMANAGER=no
      - HADOOP_ALLOW_NONE_AUTH=true
      - HADOOP_NAMENODE_HOST=hadoop-namenode
    ports:
      - "8088:8088"  # YARN ResourceManager UI
    depends_on:
      - hadoop-namenode
    networks:
      - hadoop

  hadoop-datanode1:
    image: bitnami/hadoop:3.3
    container_name: hadoop-datanode1
    hostname: hadoop-datanode1
    environment:
      - HADOOP_HDFS_NAMENODE=no
      - HADOOP_HDFS_DATANODE=yes
      - HADOOP_YARN_RESOURCEMANAGER=no
      - HADOOP_YARN_NODEMANAGER=yes
      - HADOOP_ALLOW_NONE_AUTH=true
      - HADOOP_NAMENODE_HOST=hadoop-namenode
    depends_on:
      - hadoop-namenode
    networks:
      - hadoop

  hadoop-datanode2:
    image: bitnami/hadoop:3.3
    container_name: hadoop-datanode2
    hostname: hadoop-datanode2
    environment:
      - HADOOP_HDFS_NAMENODE=no
      - HADOOP_HDFS_DATANODE=yes
      - HADOOP_YARN_RESOURCEMANAGER=no
      - HADOOP_YARN_NODEMANAGER=yes
      - HADOOP_ALLOW_NONE_AUTH=true
      - HADOOP_NAMENODE_HOST=hadoop-namenode
    depends_on:
      - hadoop-namenode
    networks:
      - hadoop

  hadoop-datanode3:
    image: bitnami/hadoop:3.3
    container_name: hadoop-datanode3
    hostname: hadoop-datanode3
    environment:
      - HADOOP_HDFS_NAMENODE=no
      - HADOOP_HDFS_DATANODE=yes
      - HADOOP_YARN_RESOURCEMANAGER=no
      - HADOOP_YARN_NODEMANAGER=yes
      - HADOOP_ALLOW_NONE_AUTH=true
      - HADOOP_NAMENODE_HOST=hadoop-namenode
    depends_on:
      - hadoop-namenode
    networks:
      - hadoop

networks:
  hadoop:
    driver: bridge
